a {
    color: #ff3860;
    font-weight: bold;
}

li {
    font-weight: 300;
}

.title {
    color: #363636;
    font-size: 3rem!important;
    font-weight: bold!important;
    margin-bottom: 0rem!important;
}

.subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25;
    font-weight: bold!important;
    margin-bottom: 1.5rem;
}

.section-wrap {
    background-color: #f8fafc;
    padding: 3em 10em 3em 10em;
}